language: python
services:
- docker
python:
- "3.6"
branches:
  only:
  - master
# Commented out pending some improvements
# deploy:
#   provider: script
#   script: "./travis-script.bash deploy"
#   on:
#     branch: master
env:
  global:
  - K8S_VERSION="1.16.0"
  - secure: G3sUntx4dFWsZQHUU1Xacxfw7YGtiiSCcZbZ+F9RYg+RMfwG2Q0G8KBhCtjMl9CA3MgjeFa/xKMojH5LPtoMUbhNi/4ejxBj05RazQuLxbUM1bTRAtktnpoXDQY2OVx6yKX+F+4ts8H++6wscieRirpBdMJDAfXUcexxzKOLjJjyO1fFkih1Er3JzkBMlCHzYC4+cGDKTj45EuwroMUkifZ8G3sLEmXopjD3+89F8euF6y5xrH2nBXufydEpkV+27hHW1853WVejurvajYFr/Zlwdf+g1xbn4zn5JLOQ4Exbi7oxCbJvwVWG3Fs+hRRsWX3WFWqxVgorBqgf3PUHZ1KR5QUmtMulkJ2IrvHe4FK0urjmRbuy/QcQGEutrWDxNTvOaZyHTG2iH+FzrnkRFUjCozS2qeKtpUp8DVCPNIqlvegxOXZ29ib1Qf8yk9nmWPXWmG73z1k8MS2ycLo0suDE6JHy8NeUy2CZFEHemAFGm9/AXCt6+SudJ1o+rG0MA33d0BXmJBuQX85Uaca7oBcJZePSPa0iJ6uJCcv52TwTo22BLJgnQQLNR2+Q79pAH5UU402q/rubMWHuPOBScGO7KW3GMxz0O0Ilushs5gFXFaES3zm3OpKnhmn5MUfB9qmZmDe1Hjeo9fpjd6ZvtgOrwi5mhQhYdj1ZbjJUWSY=
  - secure: HitJnIxAQp0gskmg/AsFdvOap3GKrkKw6TJNamT1fwnJ0gbxJVFYDn36mBraPfm3qUgDi/b6jg6dyIeyPPxLvvyNc0sGd6QDZtH5zQtuIa+4QqAo5SJ77Qxxiyolm4E5rmDcDsCa7U8O6YOTi/VGbORLGwVuCbwVdkvjPE/d0gFUi0D0+ixn5wPs4NTO9sLwhFd+VbXSHwaDh0m3FmReMFgRwwmhzov7+PJsLQOLJdWGCd1z5OoJRPgGqBWylDxPcZDoT+XhGIyLs4qhl3wJQRLB6lw6ljojt9mK74cR5wO4mmHhDyN9FOaWdHn9MQrtyjx+y5JiUOOdXYekQwoleAO9rj2Q2ryakzEf72nluF1LnjAVAI03Ob7e27lUfOO5DR6gnNRNs+FPbZs5Tb3i4rzu+PXaWAWBoD0MWHZhKaRMhA2OS7hBtA7l6Sght2mHcm7vx5R7m7VWkEmxyfTdwJbQzW112r0TNugKw7jilKgBrQLd2CotveVHDCZDpb6z4qvSWRlRU7R90WfRIxr04oSwOI+jSW418Bd/EcuKrNoe5OqR2LnthC3m8pwl+bor+RDlgV1ubmr4tRlBMwxhAAUFK54dpDJl1MOuuHhqJ93Ee+L+Ry+t9GA9yF881eQbG7uID6fi9uW7jczCFJoDDAfXYFPkYNeVKkOYLf9QWTQ=
  - secure: H3atnoPPzqdU2gtL8CRKHBC456Pg8EAR0nM6Wx2/cPtGw+GgHS8pELELsSv9/10y+KwTgXxxO8tD94AYVlo6+u1sldJy23txyOFw8vuI7pZOcqga0fHlTtnh6pzFvw9cK1Xoz6xObWsKGT74ru/JxrmIgmocfDYfDsFUlFRDbo4stJHYfMbHi5D8/uURM6mcywAhQ68b+M0xWPhlUlDNQ9/V8oPEzyRhETC8EbwdujCE7m3VXE58mLna7f6ZZ83QUVlxoL7HL2q3BciXdCvkssJUyBgh2xilu9OOBD8fO7gkKF6fZrVV3+MklTXAIfLsyTx70E5Nl+UP3WHF8ZTqD4UmZn/3dv+Dn2NUgY+xmud21B88QSrpPXglpkI0oGS90yJCA3iENfscZUrzPaQkawK72wy29Sp9QqM8Ojd+8x9jgbpdDBTuqnx62J7ByUjiG/Z+4uV4VqDaIxdUei9PCSmMFib7GyrtJ49SOPfazb3YEtTu2pfhIeHjpjH5+B6MEOVx5Ruakun3aumpw5MMIezKillRobcxxUsQ4QAAWlbiNg2LgdY6Hamr/ag+6BebeYO5L3RTsiS8FsnRXnAchJm3dE2ZOLTAj+glfl8FT8XZUjHHbx6DXev3BMBkh01vl+nchW+OdTVSMePz0bBHOd1DBdCR9gFERhJz23O91wA=
  - secure: VIoTLvZ7VnijSOHpuxNEdpBTlHn8+L5AsgZVFAdr0/kqvHdqhmaIvktSajHW+/d3VcwubzaAQI2zvIeV17Mwrbq9vQnSd9tMEqp/NaUjmCXMoQQuW5H1nfh4xeIuivwE84dfjbJD/dcNeDAx6JMcVnAGsmzQTfD0TG/gnz+GZdPuZrUGECwezLCe7nl/uIFXVSqb2BtD60Ej94N29WFsR1KJ0ARWKch2miVQViD35ceKjVJgUtIfyXvckP04JRm1NGgCqK44cqxV48I3C3k+yn0px0zLYG3mcfsS5YEz84VSlYntdmlu1a9cKPDT/uGTFWBhTT72f0ssqL3TBGfRanCvUI+sufgPBMcQzjMzozpDfnXN+DAgirwg46OT2IzpdH1BvqGHvUV1IIPwERkdOWTV0Z18dJf29MqHTMLOkBdiRSDwYN5Ox4xH77ed3038Hd6f8VO89huRbIRgYkxrVj74j4O65Sr22HZ5z2pZYcfw+NjrTO0UO9l7YAxeTHirXiFZqgInBP2cx38Ycaa1OMAbEqC4DUXONFnISAjOvOTEjohhQLt2JVwvAvMpyfFu26c28CLe+AmexQJd9jeepudQ/R2Ji9QQAxrWReYmSYfPN/ZPubXU8hWLFqZ8SPMGNrIMgv+5/uwPPd6YkRJnIgrdvgMvDvdy5f9PFssVfFA=
stages:
  - test
  - docker
  - name: deploy
    if: branch = master AND type = push

jobs:
  include:
    - name: Python Lint
      stage: test
      install: pip install tox
      script: tox
    - name: Kubernetes validation
      install:
      - wget https://github.com/instrumenta/kubeval/releases/download/0.15.0/kubeval-linux-amd64.tar.gz
      - tar xf kubeval-linux-amd64.tar.gz
      - chmod u+x kubeval
      - mv kubeval /home/travis/bin/
      script: kubeval -v $K8S_VERSION --strict ingress/* manifests/*
    - name: Helm lint
      install:
      - wget https://get.helm.sh/helm-v3.2.0-linux-amd64.tar.gz
      - tar xzvf helm-v3.2.0-linux-amd64.tar.gz
      - mv linux-amd64/helm helm
      - chmod u+x helm
      - mv helm /home/travis/bin/
      before_script:
      - helm repo add jupyterhub https://jupyterhub.github.io/helm-chart/
      - helm repo add bitnami https://charts.bitnami.com/bitnami
      - helm dependency update paws/
      script: helm lint paws/
    - name: Docker build
      stage: docker
      script: "./travis-script.bash build"
    - stage: deploy
      script: skip
      deploy:
        provider: script
        script: echo "I am a placeholder"
        on:
          branch: master

