# Mediawiki related stuff
mwapi
mwdb
mwxml
mwreverts
mwsessions
mwdiffs
mwoauth
mwtypes
mwpersistence
git+https://github.com/yuvipanda/python-wdqs.git

# visualization libraries
bokeh
ipywidgets
matplotlib

# scientific stuff
pandas
scipy
scikit-learn
scikit-neuralnetwork

# Revscoring stuff
revscoring 
editquality
wikiclass

# Scraping
lxml
beautifulsoup4

# SQL!
pymysql
mycli

# Jupyter specific things
jupyterhub # Needed for singleuser script
ipython[notebook]
bash_kernel

# Interface with other languages
rpy2
