# Mediawiki related stuff
mwapi
mwdb
mwxml
mwreverts
mwsessions
mwdiffs
mwoauth
mwtypes
mwpersistence
mwparserfromhell
git+https://github.com/yuvipanda/python-wdqs.git

# visualization libraries
ipywidgets
bokeh
matplotlib
seaborn
ipyleaflet
pythreejs
bqplot

# scientific stuff
pandas
scipy
scikit-learn
scikit-neuralnetwork

# Scraping
lxml
beautifulsoup4

# SQL!
pymysql
mycli

# Jupyter specific things
bash_kernel
ipython
terminado
https://tools.wmflabs.org/paws-support/notebook-4.3.0.tar.gz
jupyterhub # Needed for singleuser script

# Interface with other languages
rpy2
