# Mediawiki related stuff
mwapi
mwdb
mwxml
mwreverts
mwsessions
mwdiffs
mwoauth
mwtypes
mwpersistence
mwparserfromhell
git+https://github.com/yuvipanda/python-wdqs.git

# visualization libraries
ipywidgets
bokeh
matplotlib
seaborn
ipyleaflet
pythreejs
bqplot
plotly
holoviews[recommended]
streamlit
jupyter-dash

# scientific stuff
pandas
scipy
scikit-learn
scikit-neuralnetwork

# Scraping
lxml
beautifulsoup4

# SQL!
pymysql
mycli
wmpaws

# Interface with other languages
rpy2

# RStudio
jupyter-server-proxy
jupyter-rsession-proxy==2.0.1

# Web dev stuff
flask
fastapi
