# Mediawiki related stuff
mwapi
mwdb
mwxml
mwreverts
mwsessions
mwdiffs
mwoauth
mwtypes
mwpersistence
mwparserfromhell
git+https://github.com/yuvipanda/python-wdqs.git

# visualization libraries
ipywidgets
bokeh
matplotlib
seaborn
ipyleaflet
pythreejs
bqplot
plotly
holoviews[recommended]
streamlit

# scientific stuff
pandas
scipy
scikit-learn

# Scraping
lxml
beautifulsoup4

# SQL!
pymysql
mycli
wmpaws

# Web dev stuff
flask
fastapi

# mwpersistence has a dep which pulls in PyYAML 5.4.1, which has
# packaging issues with Cython 3.0.0 (also present in PyYAML 6.0.0).
# Pin a higher version.
pyyaml>6.0.0
