mwoauth
requests-futures
git+https://github.com/yuvipanda/jupyterhub.git@0.3.0-wikimedia#egg=jupyterhub
git+https://github.com/jupyter/oauthenticator.git@master#egg=oauthenticator
git+https://github.com/yuvipanda/jupyterhub-nginx-chp.git@master#egg=nchp
git+https://github.com/yuvipanda/jupyterhub-kubernetes-spawner.git@master#egg=kubespawner
